/* Site Navigation Hover Animation */
.site-navigation .navbar-nav {
	a {
		display: inline-block;
		letter-spacing: 0.15em;
		padding: 15px 20px;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;

		&:after {    
			@include background-image(linear-gradient(60deg, $themePrimary 0%, $themePrimarySoft 100%));

			background-color: $themePrimary;
			bottom: 0;
			content: "";
			display: block;
			height: 4px;
			left: 50%;
			position: absolute;
			transition: width 0.3s ease 0s, left 0.3s ease 0s;
			width: 0;
		}

		&:hover:after { 
			left: 0; 
			width: 100%; 
		}
	}
}

.social-icons .social-icon {
	color: $textWithPrimaryBackground;
	display: inline-block;

	&:hover {
		text-decoration: none;
	}
}

.navbar-top {
	@include background-image(linear-gradient(60deg, $themePrimary 0%, $themePrimarySoft 200%));

	background-color: $themePrimary;
	padding-bottom: 0.907rem;
	padding-top: 0.907rem;

	.portlet {
		&:hover,
		&.open {
			z-index: 1035;
		}
	}
}

.navbar-blank {
	flex-wrap: wrap;
}

.navbar-classic {
	&.navbar-light {
		border-bottom: 1px solid $light-color;

		.lexicon-icon {
			font-size: 0.625rem;
			margin: 0 0 0 0.25rem;
		}
	}

	.navbar-blank {
		@include media-breakpoint-down(sm) {
			margin-top: 1rem;
		}
	}

	.navbar-form {
		padding: 0;

		.field-wrapper {
			right: 0;
			top: 0;

			.lfr-icon-item {
				color: #6b6c7e;
			}
		}
	}

	.portlet-search-bar {
		@include media-breakpoint-down(sm) {
			width: 100%;
		}

		.input-group-item {
			margin-left: 0;
		}
	}

	.logo:hover {
		text-decoration: none;
	}

	.navbar-nav {
		.nav-item:not(:last-of-type) {
			.nav-link {
				@include media-breakpoint-up(lg) {
					margin-right: 16px;
				}
			}
		}
	}

	.nav-link {
		color: #6b6c7e;
		font-size: 0.9375rem;
		font-weight: 600;
	}
}
