$body-bg: #fff;
$bright-color: #1865fb;
$complementary-color: #30313f;
$dark-color: #272833;
$input-bg: #f1f2f5;
$light-color: #e7e7ed;

$lead-font-weight: 400;
$small-font-size: 0.875rem;

$portlet-decorate-bg: #fff;
$portlet-decorate-border: 1px solid $light-color;

/* Set Theme Colors */

/*$primary: #7ac2e5;
$secondary: #57585a;
$success: #093829;
$info: #17ab8b;
$warning: #cb5648;
$danger: #c2242e;
$light: #e6e7e9;
$dark: #083829;*/

/* Header and Navigation Background Color */

$theme: #00467F;
$themeSoft: #A5CC82;

$textWithPrimaryBackground: #FFF;