.footer {
	.portlet-navigation .portlet {
		margin-bottom: 0;

		a {
			color: $textWithThemeBackground;

			&:hover {
				color: $textWithThemeBackground;
				text-decoration: underline;
			}
		}
	}
}