/* Colors */

$themePrimary: #093829;
$themePrimarySoft: #18ab8b;

$textWithPrimaryBackground: #FFF;

/* Custom Colors */

$primary: #7ac2e5 !global;
$secondary: #57585a !global;
$success: #adcb41 !global;
$info: #17ab8b !global;
$warning: #cb5648 !global;
$danger: #c2242e !global;
$light: #e6e7e9 !global;
$dark: #083829 !global;